@import "../../../public/sass/main.scss";

.navigationArrow {
	display: flex;
	position: absolute;
	right: 0;
	bottom: calc(100% - var(--carousel-image-height));
	@include respond(tab-land) {
		left: var(--carousel-image-width);
		max-width: 14rem;
	}
	&__btn {
		display: flex;
		display: inline-block;
		cursor: pointer;
		border: none;
		height: 7rem;
		width: 30%;
		min-width: 100px;
		background-color: var(--black);
		justify-content: space-between;
		padding: 0 2rem;
		align-items: center;
		z-index: 99999999;
		cursor: pointer;
		&:hover {
			background: var(--very-dark-gray);
		}
	}
}
