.navigationArrow {
	position: absolute;
	bottom: 50%;
	right: 0;
	display: flex;
	height: 7rem;
	width: 30%;
	min-width: 100px;
	background-color: var(--black);
	justify-content: space-between;
	padding: 0 2rem;
	align-items: center;
	z-index: 99999999;
	&__btn {
		display: inline-block;
		background: transparent;
		cursor: pointer;
		border: none;
	}
}
